header .Symbol {margin-left: 2px;}
header .Symbol path {fill: var(--textColor);}
header .Symbol g.texts {display: none;}
header.show,header.up {opacity: 1 !important;}
header.top, header.show.top {opacity: 0 !important;}

header .top svg {
    width: auto;
    height: 10.5rem;
    transform: translateX(2.8px);
}

.exhibitions .swiper-slide .info {opacity: 0; transition: 1.5s ease-in-out;}
.exhibitions .swiper-slide-active .info {opacity: 1; transition: 3.0s 1.0s ease-in-out;}

#index-fifth .logo svg path {fill: var(--textColor);}