header .Symbol {margin-left: 2px;}
header .Symbol path {fill: var(--textColor);}
header .Symbol g.texts {display: none;}
header.show,header.up {opacity: 1 !important;}
header.top, header.show.top {opacity: 0 !important;}

header .top svg {
    width: auto;
    height: 10.5rem;
    transform: translateX(2.8px);
}


#nt * {fill: var(--backgroundColor);}


#index-third .mySwiper {padding-left: var(--padding);}
#index-third .swiper-slide {
    width: 45vw;
    height: fit-content;
    padding-bottom: 4rem;
}
#index-third .swiper-slide:last-of-type {padding-right: 4rem;}

#index-third .swiper-scrollbar {
    height: 1px !important;
    margin-left: var(--padding);
    width: calc( 100vw - var(--padding) * 2);
}


#index-fourth .swiper-pagination {
    text-align: left;
    display: flex;
    flex-direction: column;
    left: calc(var(--padding) - 5px);
    bottom: 4rem;
}
#index-fourth .swiper-pagination span {margin-top: 1.2rem;}

#index-fourth .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url(../image/bullet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: unset;
    width: 8px;
    height: 9.5px;
    opacity: .3;
}
#index-fourth .swiper-pagination-bullet-active {opacity: 1;}
  

#index-fifth .logo svg path {fill: var(--textColor);}





@media screen and (min-width: 720px) {


    #index-third .swiper-slide {width: 20vw}

}